{% extends 'Hey_Plex/base.html' %}

{% load static %}
{% block content %}

<style>

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
    text-transform: capitalize;
  color: #5a7391;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: capitalize;
  color: #5b9bd1;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}


.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
{#    #}
.navi {
  {#text-align: center;#}
  font-weight: 600;
}

.navi * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.navi li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  paddin: 0;
}

.navi a {
  padding: .5em .8em;
  position: relative;
  text-decoration: none;
}

.navi a::before,
.navi a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navi a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.navi a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.navi a:hover:before,
.navi a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.navi a:hover {
  color: black;

}
.mimi {border-radius: 14px;text-transform: capitalize;font-family: Nunito}
</style>
    <div class="container-fluid">
<div class="row profile">
<div class=" col-md-3 animated fadeInLeft">
			<div  style="height: 100%"  class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img class=" rounded-circle img-fluid " style=" margin-left:100px; width:160px; height:160px;" src="{{ user.profile.image.url }}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div style="font-family: Nunito" class="profile-usertitle-name">
						{{ user.first_name }} {{ user.last_name }}
					</div>
					<div style="font-family: Nunito" class="profile-usertitle-job">
						Customer
					</div>
				</div>

				<div class="">
					<ul class="navi" style="list-style: none; ">
						<li style=" padding:10px 15px;font-size: 17px; font-family: Nunito">
							<a href="{% url 'ShowCase' %}">
							<i class="fas fa-home prefix " ></i>
							Home </a>
						</li>
						<li style=" padding:10px 15px; font-size: 17px;font-family: Nunito">
							<a href="{% url 'edit_profile' %}">
							<i class="fas fa-user prefix " ></i>
							My Account </a>
						</li>
						<li style=" padding:10px 15px; font-size: 17px;font-family: Nunito">
							<a href="{% url 'bookingtable' %}">
							<i class="fas fa-calendar prefix " ></i>
							My Bookings </a>
						</li >
						<li style=" padding:10px 15px; font-size: 17px;font-family: Nunito">
							<a href="{% url 'change_password' %}">
							<i class="fas fa-lock prefix " ></i>
							Change Password </a>
						</li>
                        <li style=" padding:10px 15px; font-size: 17px;font-family: Nunito">
							<a href="{% url 'logout' %}">
							<i class="fas fa-sign-out-alt prefix " ></i>
							Logout </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->

			</div>
		</div>
<div class="col-md-9">
<div class="profile-content">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb grey lighten-2 ">
      <li class="breadcrumb-item"><a class="black-text" href="{% url 'ShowCase' %}">Home</a><i class="fas fa-angle-double-right mx-2"
          aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'bookingtable' %}">My Bookings</a><i class="fas fa-angle-double-right mx-2"
          aria-hidden="true"></i></li>
    </ol>
  </nav>
    <div style="width: 600px" class=" card animated  wow slideInRight">
<div class="table-responsive text-nowrap ">

  <table class="table table-sm">
    <thead class="info-color white-text">
      <tr>
        <th scope="col">Booking ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col"> Phone Number</th>
        <th scope="col">Vehicle Booked</th>
        <th scope="col">Days Booked</th>
        <th scope="col">Booking Date</th>
               <th scope="col">Payment Status</th>


      </tr>
    </thead>
      {% for d in det %}
    <tbody class=" table table-striped ">
      <tr>
        <td class="" style="font-family: 'Nunito'; font-size: 14px; ">{{ d.id }}</td>
        <td  style="font-family: 'Nunito'; font-size: 14px; ">{{ d.fullname }}</td>
        <td  style="font-family: 'Nunito'; font-size: 14px; ">{{ d.phonenumber }}</td>
        <td  style="font-family: 'Nunito'; font-size: 14px; ">{{ d.car_model1 }}</td>
          <td  style="font-family: 'Nunito'; font-size: 14px; ">{{ d.days }}</td>
        <td  style="font-family: 'Nunito'; font-size: 14px; ">{{ d.created_at }}</td>
            <td>
          
          {% if d.paid %}
          <a href="{% url 'pay' d.id d.phonenumber d.amount  %}" class="btn btn-info btn-rounded btn-sm m-0 mimi disabled">Paid</a>
          {% else%}
          <a href="{% url 'pay' d.id d.phonenumber d.amount %}" class="btn btn-outline-danger btn-rounded btn-sm m-0 mimi">Pending payment</a>       
          {% endif %}
        </td>
      </tr>
{% endfor %}

    </tbody>

  </table>
 <br>
    <br>
    <br>
    <br>

</div>
</div>
</div>
</div>
</div>


{% endblock %}