{% extends 'Hey_Plex/base.html' %}
<body>
{% block content %}

       <!-- Material form login -->
<div class="card" style=" width: 470px; margin-left: 490px">

  <h5 class="card-header info-color white-text text-center py-4">
    <a ><i class="fas fa-user mr-1"></i>
              Login</a>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

<form class="text-center" style="color: #757575;">

           {% csrf_token %}
        {% if form.errors %}
         <div class="alert alert-dark alert-dismissable " role="alert">
             <button class="close" data-dismiss="alert">
                     <small><sup>x</sup></small>
              </button>
              <p> Error Alert</p>
         {% for field in form %}
             {% if field.errors %}
                 {{ field.errors }}
             {% endif %}
         {% endfor %}

         </div>
  {% endif %}

    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in<i class="fas fa-sign-in-alt ml-1"></i></button>
    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->

    <br>
    <br>
    <br>
    <br>
<br>
    <br>


<br>
{% endblock %}
</body>

</html>
