body{
  margin-top:70px;
  font-size:18px;
  background-color: whitesmoke;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}



#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  background-color: ghostwhite;
  width:90%;
  margin-left:60px;
}

#showcase .showcase-right{
  margin-top:90px;
}

#testimonial{
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';

}

#testimonial p.customer{
  font-size:20px;
}

#info1 .info-right{
  margin-top:90px;
}

#info2{
  margin:20px 0 80px 0;
}
#more{
  display: none;
}
#contact{
  background:url("{%  static 'images/pic2.png' %}");
  padding:40px;
  color:#fff;

}
.review-section {
	padding: 150px 0 150px 0;
	text-align: center;
	background: #F4F4F4;
}


.reviews {
  width: 100%;
}


.review-single img {
  width:80px;
	height:80px;
}

.review-text h3 {
	font-family: Roboto;
  font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 1.5;
  color: #000000;
}

.review-text .ion {
	display: inline-block;
	margin-top: 20px;
  font-size: 14px;
  color: #ff8000;
}

.review-text p {
  font-family: Poppins;
  font-size: 14px;
	font-weight: 300;
  padding: 20px 10px 20px 10px;
	letter-spacing: 1px;
	line-height: 1.5;
  color: #A1A1A1;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}


